<app-admin-drop-town></app-admin-drop-town>

<ion-content>
  <div class="brand_color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Admin Transaction List </h2>
                </div>
            </div>
        </div>
    </div>
</div>

 
  <div class="">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="thead-inverse">
          <tr>
            <th>#</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Trans Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Credit Date</th>
            <th>Receipt</th>
            <th>Action</th>
            <th>delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of transList; index as i">
            <td>{{i + 1}} </td>
            <td>{{item.amount |currency:'₦'}} </td>
            <td>
               <div *ngIf="item?.status =='successful'  " class="text-success font-weight-bold">{{item?.status}}</div>
               <div *ngIf="item?.status =='waiting'  " class="text-warning font-weight-bold">{{item?.status}}</div>
             </td>
            <td>{{item?.transaction_id}} </td>
            <td>{{item?.name}} </td>
            <td>{{item?.email}} </td>
            <td> <small>{{item?.date |date:'dd/MM/yy'}}</small> </td>
            <ion-chip size="small" *ngIf="item?.image" (click)="previewReceipt(item?.image)"  color="danger" outline="true">
              View receipt
            </ion-chip>

            <ion-chip *ngIf="!item?.image" color="dark" mode="ios" outline="true">
              <ion-label>No RECEIPT</ion-label>
            </ion-chip>
            <td> 
             <div *ngIf="item?.status =='waiting'">
              <ion-button *ngIf="item?.image" color="dark" (click)="presentConfirm(item)" size="small" fill="solid" >
                confirm
              </ion-button>
             </div>
          </td>
            <td> 
             <div >
            
              <ion-icon (click)="presentDelete(item)" color="danger" name="trash"></ion-icon>
             </div>
          </td>
          </tr>
        
        </tbody>
      </table>
    </div>
  </div>

</ion-content>

