

<div class="ion-margin">
  <div class="dropdown">
    <button (click)="toggleMenu()" class="dropbtn"> <ion-icon name="menu"></ion-icon>  Admin Menu</button>
    <ul class="list-group" *ngIf="showMenu" id="myDropdown" class="dropdown-content show">
       <a  class="list-group-item" (click)="onClickMenu()" href="/admin-tabs/admin-withdrawal">Withdrawal</a>
      <a  class="list-group-item" (click)="onClickMenu()" href="/admin-tabs/admin-trans"  >Transactions</a>
      <a   class="list-group-item" (click)="onClickMenu()" href="/admin-tabs/running-trans" >Running Investment</a>
      <a   class="list-group-item" (click)="onClickMenu()" href="/admin-tabs/manage-users" >Manage Users</a>
      <a   class="list-group-item" (click)="onClickMenu()" href="/admin-tabs/admin-history" >Invest history</a>
      <a   class="list-group-item" (click)="onClickMenu()" href="/admin-tabs/admin-contact-us">Contact Messages</a>
      <a class="list-group-item"  (click)="onClickMenu()" href="/admin-notice-board"> Admin Notice Board</a>
      <a   class="list-group-item" (click)="onClickMenu()" href="/dashboard">User Dashboard</a>
     
  </ul>
  </div>
  
</div>
