
 <ion-header>
  <ion-toolbar color="light">
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
 
  </ion-toolbar>
</ion-header>
<ion-content>




  <div class="container-fluid" id="main">
    <div class="row row-offcanvas row-offcanvas-left justify-content-center ">
      <!--/col-->

      <div class="col-md-9 col-lg-10 main ">

        <!--toggle sidebar button
            <p class="hidden-md-up">
                <button type="button" class="btn btn-primary-outline btn-sm" data-toggle="offcanvas"><i class="fa fa-chevron-left"></i> Menu</button>
            </p>-->


        <h1 class="text-center display-4 hidden-xs-down">
          Welcome   <strong>{{userDetails?.username}}</strong> !
            </h1>

           <div class="ion-text-center">
            <img  src="assets/banks.jpg" width="400" alt="">
           </div>
        <p class="lead hidden-xs-down text-center font-weight-bold">Make payment with any bank of choice or 
          transfer to the account below and upload your transaction receipt </p>

         <ion-card class="text-center" color="light">
          <h5 class="font-weight-bold">Zenith Bank</h5>
          <h5 class="font-weight-bold">Pocket Money Osusu</h5>
          <h5 class="font-weight-bold">34483848584</h5>
         </ion-card>


       <ion-grid fixed>
         <ion-row>
           <ion-col size-sm="12" size-md="6" size-lg="6" class="justify-content-center">
            <ion-item color="warning">
              <ion-label>Enter Amount</ion-label>
              <ion-input type="number" [(ngModel)]="amountModel.amount" ></ion-input>
              <ion-icon slot="end" name="add"></ion-icon>
            </ion-item>

           </ion-col>

           <ion-col class="justify-content-center"  size-sm="12" size-md="6" size-lg="6">
            <ion-button color="warning" (click)="uploadTransReceipt()" expand="block" fill="solid" >
             <ion-chip color="primary" mode="ios" outline="true">
               <ion-label>upload receipt</ion-label>
               <ion-icon name="close-circle"></ion-icon>
             </ion-chip>
            </ion-button>
           </ion-col>
         </ion-row>
       </ion-grid>

       <div class="row justify-content-center">
        <flutterwave-make-payment *ngIf="amountModel.amount > 99"
        [public_key]="publicKey"
        [amount]='amountModel.amount'
        currency='NGN'
        payment_options="card"
        text="Pay Now"
        [customer]="customerDetails"
        [customizations]="customizations"
        [tx_ref]="generateReference()"
        (callback)="makePaymentCallback($event)"
        (close)="closedPaymentModal()" >
        <ion-chip color="primary" mode="ios" outline="true">
          <ion-label>Pay Now</ion-label>
          <ion-icon name="close-circle"></ion-icon>
        </ion-chip>
    </flutterwave-make-payment>`

       </div>


      

 

        <div class="alert alert-warning fade collapse" role="alert" id="myAlert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
          <strong>Holy guacamole!</strong> It's free.. this is an example theme.
        </div>

        <div class="row mb-3 ">
          <div class="col-md-6 col-sm-12 col-lg-6 ">
            <div class="card card-inverse card-success">
              <div class="card-block bg-success">
                <div class="rotate">
                  <i class="fa fa-user fa-5x"></i>
                </div>
                <ion-chip color="light" mode="ios" outline="true">
                  <h6 class="text-uppercase">Investment</h6>
                </ion-chip>
                <h1 class="display-3"> {{userDetails?.investment |currency:'₦' }} </h1>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-lg-6">
            <div class="card card-inverse card-danger">
              <div class="card-block bg-danger">
                <div class="rotate">
                  <i class="fa fa-list fa-4x"></i>
                </div>
                <ion-chip color="light" mode="ios" outline="true">
                  <h6 class="text-uppercase">Balance</h6>
                </ion-chip>
                <h1 class="display-3">{{userDetails?.balance |currency:'₦'}} </h1>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-lg-6">
            <div class="card card-inverse card-info">
              <div class="card-block bg-info">
                <div class="rotate">
                  <i class="fa fa-twitter fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Accrued</h6>
                <h1 class="display-3">₦0.00</h1>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-lg-6">
            <div class="card card-inverse card-warning">
              <div class="card-block bg-warning">
                <div class="rotate">
                  <i class="fa fa-share fa-5x"></i>
                </div>
                <h6 class="text-uppercase text-center">Withdrawal Request</h6>
                <h1 class="display-3">{{userDetails?.withdrawal_req |currency:'₦'}} </h1>
              </div>
            </div>
          </div>
        </div>
        <!--/row-->

        <hr>

        <div class="row placeholders mb-3">
          <div class="col-6  placeholder text-center">
            <ion-card color="light">
              <ion-list>
                <h4 class="text-secondary">₦1,000</h4>
                <i  class=" text-warning fas fa-hand-holding-usd fa-3x"></i>
                <h3 class="p-2 text-warning">₦1500</h3>
              </ion-list>
            </ion-card>
            <h6>₦1,000 will retunrn ₦1,500 in 26hours</h6>
            <ion-button [disabled]="!userDetails?.one_k_investment" (click)="onClick()" expand="block" fill="solid" shape="round">
              invest now 
            </ion-button>
           <ion-chip color="primary" mode="ios" outline="true">
             <ion-label>Unlock Package</ion-label>
           </ion-chip>
          </div>

          <div class="col-6  placeholder text-center">
            <ion-card color="light">
              <ion-list>
                <h4 class="text-secondary">₦5,000</h4>
                <i  class=" text-danger fas fa-hand-holding-usd fa-3x"></i>
                <h3 class="p-2 text-danger">₦7,500</h3>
              </ion-list>
            </ion-card>
            <h6>₦5,000 will retunrn ₦7,500 in 24hours</h6>
            <ion-button [disabled]="!userDetails?.five_k_investment" (click)="onClick()" expand="block" fill="solid" shape="round">
              invest now 
            </ion-button>
           <ion-chip color="primary" mode="ios" outline="true">
             <ion-label>Unlock Package</ion-label>
           </ion-chip>
          </div>

        
        </div>

        <a id="features"></a>
        <hr>
        <p class="lead">
          Are you ready for Bootstap 4? It's the 4th generation of this popular responsive framework. Bootstrap 4 will include some interesting new features such as 5 grid sizes (now including xl), cards, `em` sizing, CSS normalization (reboot) and larger font
          sizes.
        </p>

        <hr>
        <div class="row mb-3">
          <div class="col-lg-3 col-md-4">
            <div class="card">
              <img class="card-img-top img-responsive" src="//placehold.it/740x180/bbb/fff?text=..." alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Button</a>
              </div>
            </div>

            <div class="card card-inverse bg-inverse mt-3">
              <div class="card-block">
                <h3 class="card-title">Dark background</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-outline-secondary">Outline</a>
              </div>
            </div>

          </div>
          <div class="col-lg-9 col-md-8">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead class="thead-inverse">
                  <tr>
                    <th>#</th>
                    <th>Label</th>
                    <th>Header</th>
                    <th>Column</th>
                    <th>Data</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1,001</td>
                    <td>responsive</td>
                    <td>bootstrap</td>
                    <td>cards</td>
                    <td>grid</td>
                  </tr>
                  <tr>
                    <td>1,002</td>
                    <td>rwd</td>
                    <td>web designers</td>
                    <td>theme</td>
                    <td>responsive</td>
                  </tr>
                  <tr>
                    <td>1,003</td>
                    <td>free</td>
                    <td>open-source</td>
                    <td>download</td>
                    <td>template</td>
                  </tr>
                  <tr>
                    <td>1,003</td>
                    <td>frontend</td>
                    <td>developer</td>
                    <td>coding</td>
                    <td>card panel</td>
                  </tr>
                  <tr>
                    <td>1,004</td>
                    <td>migration</td>
                    <td>bootstrap 4</td>
                    <td>mobile-first</td>
                    <td>design</td>
                  </tr>
                  <tr>
                    <td>1,005</td>
                    <td>navbar</td>
                    <td>sticky</td>
                    <td>jumbtron</td>
                    <td>header</td>
                  </tr>
                  <tr>
                    <td>1,006</td>
                    <td>collapse</td>
                    <td>affix</td>
                    <td>submenu</td>
                    <td>footer</td>
                  </tr>
                  <tr>
                    <td>1,007</td>
                    <td>layout</td>
                    <td>examples</td>
                    <td>themes</td>
                    <td>grid</td>
                  </tr>
                  <tr>
                    <td>1,008</td>
                    <td>migration</td>
                    <td>bootstrap 4</td>
                    <td>flexbox</td>
                    <td>design</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--/row-->

 

     
    
      </div>
      <!--/main col-->
    </div>

  </div>
  <!--/.container-->
 


  <app-footer></app-footer>
</ion-content>

