
 <ion-header>
  <ion-toolbar color="light">
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
 
  </ion-toolbar>
</ion-header>
<ion-content>




  <div class="container-fluid" id="main">
    <div class="row row-offcanvas row-offcanvas-left justify-content-center ">
      <!--/col-->

      <div class="col-md-9 col-lg-10 main ">

        <!--toggle sidebar button
            <p class="hidden-md-up">
                <button type="button" class="btn btn-primary-outline btn-sm" data-toggle="offcanvas"><i class="fa fa-chevron-left"></i> Menu</button>
            </p>-->


        <h1 class="text-center display-4 hidden-xs-down">
          Welcome   <strong>{{userDetails?.username}}</strong> !
            </h1>

           <div class="ion-text-center">
            <img  src="assets/banks.jpg" width="400" alt="">
           </div>
        <p class="lead hidden-xs-down text-center font-weight-bold">Make payment with any bank of choice or 
          transfer to the account below and upload your transaction receipt </p>

         <ion-card class="text-center" color="light">
          <h5 class="font-weight-bold">Zenith Bank</h5>
          <h5 class="font-weight-bold">Pocket Money Osusu</h5>
          <h5 class="font-weight-bold">34483848584</h5>
         </ion-card>


       <ion-grid fixed>
         <ion-row>
           <ion-col size-sm="12" size-md="6" size-lg="6" class="justify-content-center">
             <div>Make your payment below</div>
            <ion-item color="warning">
              <ion-label> ₦</ion-label>
              <input style="color: black; font-weight: bold;" placeholder="Enter amount here" type="number" [(ngModel)]="amountModel.amount" >
              <i class="fab fa-amazon-pay fa-2x pl-2"></i>
            </ion-item>

            <div class="row justify-content-center">
              <flutterwave-make-payment  style="background-color: green;" *ngIf="amountModel?.amount > 99" 
              public_key="FLWPUBK_TEST-32c34a10b25063883487eb99f916159a-X"
              [amount]='amountModel.amount'
              currency='NGN'
              payment_options="card"
              text="PAY NOW"
              [customer]="customerDetails"
              [customizations]="customizations"
              [tx_ref]="reference"
              (callback)="makePaymentCallback($event)"
              (close)="closedPaymentModal()" >
           
          </flutterwave-make-payment>
      
             </div>

           </ion-col>

           <ion-col class="justify-content-center"  size-sm="12" size-md="6" size-lg="6">
            <div>Upload your receipt below</div>

           <ion-item color="warning" tappable class="ion-text-center" (click)="uploadTransReceipt()" >
             UPLOAD NOW
             <i slot="start" class="fas fa-upload pl-2"></i>
           </ion-item>
           </ion-col>
         </ion-row>
       </ion-grid>


     


         <ion-grid  *ngIf="userDetails?.running_investment">
           <ion-row>
             <ion-col size="2"></ion-col>
             <ion-col size="8"class="row justify-content-center" >
              <div>
                <ion-badge color="warning" mode="ios"> <h4 class="text-dark">{{timerHours +' H'}}</h4> </ion-badge>
                <ion-badge color="warning" mode="ios"> <h4 class="text-dark">{{timerMinutes +' M'}}</h4> </ion-badge>
                <ion-badge color="warning" mode="ios"> <h4 class="text-dark">{{timerSeconds +' S'}}</h4> </ion-badge>
              </div>
             </ion-col>
             <ion-col size="2"></ion-col>
           </ion-row>
         </ion-grid>



      


      

 

        <!-- <div class="alert alert-warning fade collapse" role="alert" id="myAlert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
          <strong>Holy guacamole!</strong> It's free.. this is an example theme.
        </div> -->

        <div class="row mb-3 ">
          <div class="col-md-6 col-sm-12 col-lg-6 ">
            <div class="card card-inverse card-warning">
              <div class="card-block bg-warning">
                <div class="rotate">
                  <i class="fa fa-user fa-5x"></i>
                </div>
                <ion-chip color="light" mode="ios" outline="true">
                  <h6 class="text-uppercase text-center">Investment</h6>
                </ion-chip>
                <h3 class="display-4 font-weight-bold text-center"> {{userDetails?.investment |currency:'₦' }} </h3>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-lg-6">
            <div class="card card-inverse card-warning">
              <div class="card-block bg-warning">
                <div class="rotate">
                  <i class="fa fa-list fa-4x"></i>
                </div>
                <ion-chip color="light" mode="ios" outline="true">
                  <h6 class="text-uppercase text-center">Balance</h6>
                </ion-chip>
                <h3 class="display-4 font-weight-bold text-center">{{userDetails?.balance |currency:'₦'}} </h3>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-lg-6">
            <div class="card card-inverse card-warning">
              <div class="card-block bg-warning">
                <div class="rotate">
                  <i class="fa fa-twitter fa-5x"></i>
                </div>
                <h6 class="text-uppercase text-center">Accrued</h6>
                <h3 class="display-4 font-weight-bold text-center">{{userDetails?.accrued |currency:'₦'}}</h3>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-lg-6">
            <div class="card card-inverse card-warning">
              <div class="card-block bg-warning">
                <div class="rotate">
                  <i class="fa fa-share fa-5x"></i>
                </div>
                <h6 class="text-uppercase text-center">Withdrawal Request</h6>
                <h3 class="display-4 font-weight-bold text-center">{{userDetails?.withdrawal_req |currency:'₦'}} </h3>
              </div>
            </div>
          </div>
        </div>
        <!--/row-->

        <hr>

        <div class="row placeholders mb-3">
          <div class="col-6  placeholder text-center">
            <ion-card color="light">
              <ion-list>
                <h4 class="text-dark">₦1,000</h4>
                <i  class=" text-warning fas fa-hand-holding-usd fa-3x"></i>
                <h3 class="p-2 text-dark">₦1500</h3>
              </ion-list>
            </ion-card>
            <h6>₦1,000 will return ₦1,500 in 24hours</h6>
            <ion-button [disabled]="!userDetails?.one_k_unlock || userDetails?.running_investment" (click)="start_1000()" expand="block" color="dark" shape="round">
              invest now 
             
            </ion-button>
          
           <ion-button color="dark" (click)="unlockOne_k_package()" size="small">
            Unlock Package
           </ion-button>
          </div>


          <div class="col-6  placeholder text-center">
            <ion-card color="light">
              <ion-list>
                <h4 class="text-dark">₦5,000</h4>
                <i  class=" text-warning fas fa-hand-holding-usd fa-3x"></i>
                <h3 class="p-2 text-dark">₦7,500</h3>
              </ion-list>
            </ion-card>
            <h6>₦5,000 will return ₦7,500 in 24hours</h6>
            <ion-button [disabled]="!userDetails?.five_k_unlock || userDetails?.running_investment" (click)="start5000()" expand="block" color="dark" shape="round">
              invest now 
            </ion-button>
          
            <ion-button color="dark" (click)="unlock5000Package()" size="small">
              Unlock Package
             </ion-button>
          </div>

          

              <div class="col-6  placeholder text-center">
                <ion-card color="light">
                  <ion-list>
                    <h4 class="text-dark">₦10,000</h4>
                    <i  class=" text-warning fas fa-hand-holding-usd fa-3x"></i>
                    <h3 class="p-2 text-dark">₦12,000</h3>
                  </ion-list>
                </ion-card>
                <h6>₦10,000 will return ₦12,000 in 24hours</h6>
                <ion-button [disabled]="!userDetails?.ten_k_unlock  || userDetails?.running_investment" (click)="start10000()" expand="block" color="dark" shape="round">
                  invest now 
                </ion-button>
                <ion-button color="dark" (click)="unlock10000Package()" size="small">
                  Unlock Package
                 </ion-button>
              </div>

           
          

        
        </div>

        <a id="features"></a>
        <hr>
        <p class="lead">
         Unlock an investment and <Strong>Invest</Strong> the specific sum. Thereafter, you investment will start running and will accrued
         50% 30% 25% on selected packages in 24 Hours.
        </p> <br>


  <div class="ion-text-center">
    <small>Share your link with friends and earn more.</small> <br>
    <input readonly type="text" [value]="userDetails?.ref_link" #userinput size="35">
    <ion-button color="dark"  size="small" (click)="copyInputMessage(userinput)" value="click to copy" >Copy link</ion-button>
  
  </div>
        <hr>
       
        <!--/row-->

 

     
    
      </div>
      <!--/main col-->
    </div>

  </div>
  <!--/.container-->
 


  <app-footer></app-footer>
</ion-content>

