





   <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <div class="logo"> <a href="/"><img src="assets/images/logo.png" alt="logo"/></a> </div>
       <ul class="navbar-nav mr-auto mt-2 mt-lg-0  ">
         <li class=" ">
            <a class="text-dark p-2"  [routerLink]="['/home']" routerLinkActive="router-link-active" > <strong>HOME</strong> </a> 
         </li>
         <!-- <li class=" ">
            <a   class="text-dark p-2"  [routerLink]="['/products']" routerLinkActive="router-link-active" > <strong>PRODUCTS</strong></a>
         </li> -->
         <li class="">
            <a class="text-dark p-2" [routerLink]="['/about']" routerLinkActive="router-link-active" > <strong>ABOUT</strong></a> 
         </li>
         <li class="nav-item">
            <li> <a class="text-dark p-2" [routerLink]="['/testimonies']" routerLinkActive="router-link-active" > <strong>TESTIMONIES</strong> </a> 
         </li>
         <li class="nav-item">
            <a class="text-dark p-2" [routerLink]="['/contact']" routerLinkActive="router-link-active" > <strong>CONTACT</strong> </a> 
         </li>
         <li *ngIf="!authService.isLoggedIn()" class="nav-item">
            <a  class="text-dark p-2" [routerLink]="['/signup']" routerLinkActive="router-link-active" > <strong>SIGNUP</strong></a> 
         </li>
         <li *ngIf="authService.isLoggedIn()" class="nav-item">
            <a  class="text-dark p-2" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" > <strong>DASHBOARD</strong></a> 
         </li>
     
       </ul>
       <form *ngIf="!authService.isLoggedIn()" class="form-inline my-2 my-lg-0">
         <li><a class="buy" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a></li>
       </form>
       <form *ngIf="authService.isLoggedIn()" class="form-inline my-2 my-lg-0">
         <li><div (click)="authService.logout()" class="buy"   >Log out</div></li>
       </form>
     </div>
   </nav>


   <br>

 

  