<app-navbar></app-navbar>

<ion-content>
  <div class="brand_color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Contact Us</h2>
                </div>
            </div>
        </div>
    </div>

</div>


    <!-- contact -->
    <div class="contact">
      <div class="container">
          <div class="row">
              <div class="col-md-12">

                  <form class="main_form" [formGroup]="contactForm" (ngSubmit)="submitForm()">
                      <div class="row">
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                              <label for="">Name *</label>
                              <input class="form-control" formControlName="name"  placeholder="Your name" type="text" name="Your Name">
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                              <label for="">Email *</label>
                              <input class="form-control" formControlName="email"  placeholder="Email" type="text" name="Email">
                          </div>
                          <div class=" col-md-12">
                              <input class="form-control" formControlName="phone"  placeholder="Phone" type="text" name="Phone">
                          </div>
                          <div class="col-md-12">
                              <textarea class="textarea" formControlName="message"  placeholder="Message"></textarea>
                          </div>
                          <div class=" col-md-12">
                              <button [disabled]="!contactForm.valid" class="send">Send</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  


  <app-footer></app-footer>
</ion-content>
