<app-navbar></app-navbar>

<ion-content>

  <div class="brand_color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Sign up</h2>
                </div>
            </div>
        </div>
    </div>

</div>

<ion-grid fixed>
  <ion-row>
    <ion-col size="6"></ion-col>
    <ion-col size="6"></ion-col>
  </ion-row>
</ion-grid>

  <!-- contact -->
  <div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <form class="main_form">
                    <div class="row ion-justify-content-center">
                        
                     
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                          <ion-item>
                            <ion-label>Awesome Label</ion-label>
                            <input class="form-control" placeholder="Phone" type="text" name="Phone">
                          </ion-item>
                          <ion-item class="">
                            <ion-label>Awesome Label22</ion-label>
                            <input class="form-control" placeholder="Phone" type="text" name="Phone">
                          </ion-item>

                           <ion-item class="">
                            <ion-label>Awesome Label</ion-label>
                            <input class="form-control" placeholder="Phone" type="text" name="Phone">
                           </ion-item>
                         
                           <ion-item class="">
                            <ion-label>Awesome Label</ion-label>
                            <input class="form-control" placeholder="Phone" type="text" name="Phone">
                           </ion-item>
                        
                           <div class="">
                            <ion-label>Awesome Label</ion-label>
                            <input class="form-control" placeholder="Phone" type="text" name="Phone">
                           </div>
                         
                        </div> 
                   
                        <div class=" col-md-12">
                            <button class="send">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




<app-footer></app-footer>
</ion-content>
