
 


  <!-- <div class="ion-margin">
    <div class="dropdown">
      <button (click)="toggleMenu()" class="dropbtn"> <ion-icon name="menu"></ion-icon>  Menu</button>
      <ul class="list-group"  *ngIf="showMenu" id="myDropdown" class="dropdown-content show">
        <ion-item>
          <ion-icon name="bar-chart-outline"></ion-icon>
          <a  class="list-group-item" (click)="onClickMenu()" href="/dashboard" [routerLink]="['/dashboard']" >Dashboard</a>
          
        </ion-item>
        <ion-item>
          <ion-icon name="swap-horizontal-outline"></ion-icon>
          <a  class="list-group-item" (click)="onClickMenu()" [routerLink]="['/tabs/transactions']" >Transactions</a>
        </ion-item>
        <ion-item>
          <ion-icon name="layers-outline"></ion-icon>
          <a  class="list-group-item" (click)="onClickMenu()" [routerLink]="['/tabs/bonus']" >My Bonus</a>
        </ion-item>
         
        <ion-item>
          <ion-icon name="cash-outline"></ion-icon>
          <a  class="list-group-item" (click)="onClickMenu()" [routerLink]="['/tabs/withdrawal']"  >My Withdrawal</a>
        </ion-item>
       
        <ion-item>
          <ion-icon name="person-outline"></ion-icon>
          <a  class="list-group-item" (click)="onClickMenu()" [routerLink]="['/tabs/profile']"  >Profile</a>
        </ion-item>

       <ion-item>
        <ion-icon name="alert-circle-outline"></ion-icon>
        <a  class="list-group-item" (click)="onClickMenu()" [routerLink]="['/tabs/notice-board']"  >Notice Board</a>
       </ion-item>
       
       <ion-item>
        <ion-icon name="people-outline"></ion-icon>
        <a  class="list-group-item" (click)="onClickMenu()" [routerLink]="['/tabs/down-line']"  >My Down line</a>
       </ion-item>
       
       <ion-item  *ngIf="authService.isLoggedIn() && authService.getRole() =='ADMIN'"   (click)="onClickMenu()"  >
        <ion-icon name="list-outline"></ion-icon>
        <a  class="list-group-item" href="/admin-tabs/admin-trans" ><strong>ADMIN PANEL</strong></a>
       </ion-item>

        
      <ion-item>
        <ion-icon  name="power"></ion-icon>
        <a  class="list-group-item"  (click)="authService.logout()"   > <strong>Logout</strong></a>
      </ion-item>
       
    </ul>
    </div>
    
  </div> -->



  <div class="ion-margin">
    <div class="dropdown">
      <button (click)="toggleMenu()" class="dropbtn"> <ion-icon name="menu"></ion-icon>  Menu</button>
      <ul class="list-group"  *ngIf="showMenu" id="myDropdown" class="dropdown-content show">
        <ion-item>
          <ion-icon name="bar-chart-outline"></ion-icon>
          <a  class="list-group-item" href="/dashboard"  >Dashboard</a>
          
        </ion-item>
        <ion-item>
          <ion-icon name="swap-horizontal-outline"></ion-icon>
          <a  class="list-group-item"  href="/tabs/transactions"  >Transactions</a>
        </ion-item>
        <ion-item>
          <ion-icon name="layers-outline"></ion-icon>
          <a  class="list-group-item"  href="/tabs/bonus">My Bonus</a>
        </ion-item>
         
        <ion-item>
          <ion-icon name="cash-outline"></ion-icon>
          <a  class="list-group-item"  href="/tabs/withdrawal" >My Withdrawal</a>
        </ion-item>
       
        <ion-item>
          <ion-icon name="person-outline"></ion-icon>
          <a  class="list-group-item" href="/history" >History</a>
        </ion-item>
       
        <ion-item>
          <ion-icon name="person-outline"></ion-icon>
          <a  class="list-group-item" href="/tabs/profile" >Profile</a>
        </ion-item>

       <ion-item>
        <ion-icon name="alert-circle-outline"></ion-icon>
        <a  class="list-group-item" href="/tabs/notice-board"  >Notice Board</a>
       </ion-item>
       
       <ion-item>
        <ion-icon name="people-outline"></ion-icon>
        <a  class="list-group-item" href="/tabs/down-line">My Down line</a>
       </ion-item>
       
       <ion-item  *ngIf="authService.isLoggedIn() && authService.getRole() =='ADMIN'"   (click)="onClickMenu()"  >
        <ion-icon name="list-outline"></ion-icon>
        <a  class="list-group-item" href="/admin-tabs/admin-trans" ><strong>ADMIN PANEL</strong></a>
       </ion-item>

        
      <ion-item>
        <ion-icon  name="power"></ion-icon>
        <a  class="list-group-item"  (click)="authService.logout()"   > <strong>Logout</strong></a>
      </ion-item>
       
    </ul>
    </div>
    
  </div>
  
  

