
<app-drop-down title="BONUS"></app-drop-down>

<ion-content>

  <div class="brand_color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Bonus </h2>
                </div>
            </div>
        </div>
    </div>
</div>




<ion-grid >
  <ion-row>
    <ion-col size="6">

      <ion-card class="p-3" color="light">
        <p class="font-weight-bold text-center">Available for withdrawal</p>
          <h5 class="text-center">{{userDetails?.cash_out |currency:'₦'}} </h5>
      </ion-card>

    </ion-col>
    <ion-col size="6">
      <ion-card class="p-3" color="light">
        <p class="font-weight-bold text-center">Bonus</p>
        <h5 class="text-center">{{userDetails?.bonus  |currency:'₦'}} </h5>
      
      </ion-card>
    </ion-col>
  </ion-row>

  <div class="text-center">

    <ion-button color="dark" (click)="claimBonus()"  >
      claim bonus
    </ion-button>
  </div>
</ion-grid >



   
    <div class="row mb-3">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="thead-inverse">
                <tr>
                  <th>#</th>
                  <th>Amount</th>
                  <th>From</th>
                  <th>To</th>
                  <th>Generation</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody *ngFor="let item of bonusList; index as i">
                <tr>
                  <td>{{ i + 1}} </td>
                  <td>{{item?.amount |currency:'₦'}} </td>
                  <td>{{item?.username_paying}} </td>
                  <td>{{item?.username_receiver}} </td>
                  <td>{{item?.generation}} </td>
                  <td>{{item?.date |date:'dd/MM/yyyy'}} </td>
                  
                </tr>
          
              </tbody>
            </table>
          </div>
        </div>
    

</ion-content>
