
  <app-navbar></app-navbar>

 



  <ion-content>

   





    <ion-tabs >
     
      <ion-tab-bar color="warning"  slot="top">
        <ion-tab-button tab="dashboard">
          <ion-icon name="desktop"></ion-icon>
          <ion-label>DASHBOARD</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="down-line">
          <ion-icon name="cash"></ion-icon>
          <ion-label>DOWN LINE</ion-label>
        </ion-tab-button>
    
    
        <ion-tab-button tab="withdrawal">
          <ion-icon name="cash"></ion-icon>
          <ion-label>WITHDRAWAL</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="profile">
          <ion-icon name="person"></ion-icon>
          <ion-label>PROFILE</ion-label>
        </ion-tab-button>

      
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>

  

