<app-navbar></app-navbar>

<ion-content>


 <div class="brand_color">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="titlepage">
                  <h2>about</h2>
              </div>
          </div>
      </div>
  </div>

</div>

<div class="about">
  <div class="container">
     <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
           <div class="about_box">
              <figure><img src="assets/images/money-time.jpg"/></figure>
           </div>
        </div>
         <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
           <div class="about_box">
              <h3>About Pocket Money Osusu.</h3>
              <p>
               PMO is a platform that helps people to contribute and be contributed to, to enable them have that pocket money to meet 
               up with their Day to day minor expenses like transportation, fuel money, breakfast money and and so many other petty 
               things that money can buy, so join Pocket money Osusu today and you will always have that Pocket money intact.</p>
              <p>Pocket Money Osusu (PMO) has different flexible packages ranging from bronze(₦1000), silver (₦5000) and Gold (₦10000). 
               PMO give 20% on selected each selected investment. </p>
           </div>
        </div> 
     </div>
  </div>
</div>


<ion-grid class="mt-5 container">
   <ion-row>
      <ion-col size="6" >
        <h5 class="mt-5">How to start investing in Pocket Money Osusu</h5>
        <p>If you are interested in investing in Pocket Money, here’s the step by step to do so:</p>
      </ion-col>
      <ion-col size="6">
         <img src="../../../assets/images/growth.png" alt="">
      </ion-col>
   </ion-row>
</ion-grid>

<div class="container">

   <ion-card>
      <ion-card-header>
         <ion-card-title>Create your Pocket Money account</ion-card-title>
      </ion-card-header>
      <ion-card-content>
         <ion-item class="">
            <ion-icon name="create-outline" size="large" class="p-3"></ion-icon>
           <div> <a [routerLink]="['/signup']"  >Click here</a> to create your Pocket Money account. It only takes 5 minutes!</div>
         </ion-item>
      </ion-card-content>
   </ion-card>

   <ion-card>
      <ion-card-header>
         <ion-card-title>Add funds</ion-card-title>
      </ion-card-header>
      <ion-card-content>
         <ion-item class="">
            <ion-icon name="wallet-outline" size="large" class="p-3"></ion-icon>
           <div> You can deposit just ₦1200 to start. We accept Naira deposits via bank transfers,
               as well as other deposit methods.</div>
         </ion-item>
      </ion-card-content>
   </ion-card>

   <ion-card>
      <ion-card-header>
         <ion-card-title>Start investing</ion-card-title>
      </ion-card-header>
      <ion-card-content>
         <ion-item class="">
            <ion-icon name="cash-outline" size="large" class="p-3"></ion-icon>
           <div> Unlock a package of your choice and invest</div>
         </ion-item>
      </ion-card-content>
   </ion-card>
</div>





<app-footer></app-footer>
</ion-content>
