<app-navbar></app-navbar>

<ion-content>


 <div class="brand_color">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="titlepage">
                  <h2>about</h2>
              </div>
          </div>
      </div>
  </div>

</div>

<div class="about">
  <div class="container">
     <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
           <div class="about_box">
              <figure><img src="assets/images/money-time.jpg"/></figure>
           </div>
        </div>
         <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
           <div class="about_box">
              <h3>About Pocket Money Osusu.</h3>
              <p>
               PMO is a platform that helps people to contribute and be contributed to, to enable them have that pocket money to meet 
               up with their Day to day minor expenses like transportation, fuel money, breakfast money and and so many other petty 
               things that money can buy, so join Pocket money Osusu today and you will always have that Pocket money intact.</p>
              <p>Pocket Money Osusu give gives 50</p>
           </div>
        </div> 
     </div>
  </div>
</div>



<!-- CHOOSE  -->
<div class="whyschose">
  <div class="container">

     <div class="row">
        <div class="col-md-7 offset-md-3">
           <div class="title">
              <h2>Why <strong class="black">choose us</strong></h2>
              <span>Fastest repair service with best price!</span>
           </div>
        </div>
     </div>
  </div>
</div>
<div class="choose_bg">
  <div class="container">
     <div class="white_bg">
     <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
           <div class="for_box">
              <i><img src="assets/icon/1.png"/></i>
              <h3>Data recovery</h3>
              <p>Perspiciatis eos quos totam cum minima autPerspiciatis eos quos</p>
           </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
           <div class="for_box">
              <i><img src="assets/icon/2.png"/></i>
              <h3>Computer repair</h3>
              <p>Perspiciatis eos quos totam cum minima autPerspiciatis eos quos</p>
           </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
           <div class="for_box">
              <i><img src="assets/icon/3.png"/></i>
              <h3>Mobile service</h3>
              <p>Perspiciatis eos quos totam cum minima autPerspiciatis eos quos</p>
           </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
           <div class="for_box">
              <i><img src="assets/icon/4.png"/></i>
              <h3>Network solutions</h3>
              <p>Perspiciatis eos quos totam cum minima autPerspiciatis eos quos</p>
           </div>
        </div>
        <div class="col-md-12">
           <a class="read-more">Read More</a>
        </div>
     </div>
  </div>
</div>
</div>
<!-- end CHOOSE -->



 <!-- service --> 
 <div class="service">
  <div class="container">
     <div class="row">
        <div class="col-md-8 offset-md-2">
           <div class="title">
              <h2>service <strong class="black">proces</strong></h2>
              <span>Easy and effective way to get your device repaired.</span>
           </div>
        </div>
     </div>
     <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
           <div class="service-box">
              <i><img src="assets/icon/service1.png"/></i>
              <h3>Fast service</h3>
              <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea </p>
           </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
           <div class="service-box">
              <i><img src="assets/icon/service2.png"/></i>
              <h3>Secure payments</h3>
              <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea </p>
           </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
           <div class="service-box">
              <i><img src="assets/icon/service3.png"/></i>
              <h3>Expert team</h3>
              <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea </p>
           </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
           <div class="service-box">
              <i><img src="assets/icon/service4.png"/></i>
              <h3>Affordable services</h3>
              <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea </p>
           </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
           <div class="service-box">
              <i><img src="icon/service5.png"/></i>
              <h3>90 Days warranty</h3>
              <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea </p>
           </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
           <div class="service-box">
              <i><img src="assets/icon/service6.png"/></i>
              <h3>Award winning</h3>
              <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea </p>
           </div>
        </div>
     </div>
  </div>
</div>
<!-- end service -->


<app-footer></app-footer>
</ion-content>
