
 <app-admin-drop-town></app-admin-drop-town>


<ion-content>
  <div class="brand_color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h3>Running Investment </h3>
                </div>
            </div>
        </div>
    </div>
</div>

 




  <!-- <div class="col-lg-9 col-md-8"> -->
    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="thead-inverse">
          <tr>
            <th>#</th>
            <th>Username</th>
            <th>Email</th>
            <th>Investment</th>
            <th>Balance</th>
            <th>Accrued</th>
            <th>Cash Out</th>
            <th>Bonus</th>
            <th>Counter</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of runningList; index as i">
            <td>{{i + 1}} </td>
            <td>{{item.username}} </td>
            <td  >{{item?.email}} </td>
            <td>{{item?.investment |currency:'₦'}} </td>
            <td>{{item?.balance |currency:'₦'}} </td>
            <td>{{item?.accrued |currency:'₦'}} </td>
            <td>{{item?.cash_out |currency:'₦'}} </td>
            <td>{{item?.bonus |currency:'₦'}} </td>
            <td>{{item?.total_count}} </td>
          </tr>
        
        </tbody>
      </table>
    </div>
  <!-- </div> -->


</ion-content>