<app-navbar></app-navbar>

<ion-content>


  
  <div class="brand_color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Testimonies</h2>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="container">

  
    <div class="row">
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="../../../assets/images/person-man.png" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">James Okon</a>
            </h4>
            <blockquote>“Pocket Money provides an excellent service.,
                I have found the company’s advice regarding investment 
                opportunities particularly helpful – everything is explained fully, no matter how complex the subject.
                 I am pleased to see the results in comparison to the 
                experiences one reads or hears about in the media. I get the feeling that Pocket Money are ahead of the game.”</blockquote>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="assets/images/person-man.png" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Tunde Samuel</a>
            </h4>
            <blockquote>
                “In an era in which we no longer have a personal relationship with our bank managers or lawyers,
                 we greatly value the interest that Jeremy takes in our lives and our ambitions,
                  and the way he uses that information to shape his advice and support.”
            </blockquote>
            </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="assets/images/person-female.png" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Olabisi Oladipupo</a>
            </h4>
            <blockquote>
                “We have been with Pocket Money Osusu now for one years. His small team have made an 
                effort to get to know us and so the service we receive feels very personal.
                 Jeremy has helped us to focus on what we want out of life and is helping us realise our plans. 
                 The peace of mind we have from knowing our finances are being so well managed is priceless.”
            </blockquote>
            </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="../../../assets/images/person-man.png" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Joseph Ebimobowe</a>
            </h4>
            <blockquote>
                “Pocket Money gave me a very comprehensive view of my investments.
                 Pocket Money also provided me with a fantastic picture of what income I would have at the end of every day.”
            </blockquote>
            </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="../../../assets/images/person-man.png" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Samuel Kings</a>
            </h4>
            <blockquote>
                “It is good to have financial check-ups and Pocket Money Investment have all the tools and resources 
                to do this in a very professional yet friendly way. Pocket Money provides an independent focus
                 on your priorities in the light of changing circumstances and legislation. I have always
                  found his service excellent and recommend him wholeheartedly.”
            </blockquote>
             </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="assets/images/person-female.png" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Mrs Stewart</a>
            </h4>
            <blockquote>
                “All one has to do is to look at your investment to see how well it is being looked after. Thank you Jeremy.”
            </blockquote>
            </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  
 
  
  </div>



<app-footer></app-footer>
</ion-content>
