
 <ion-content class="ion-padding">


  <form class="mt-5" #editUser="ngForm" name="form" >
 
    <ion-list>
      <ion-item color="light">
        <ion-label>email</ion-label>
        <input readonly type="email" #email name="email" clearInput [(ngModel)]="userProps.email"
        required="true">
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item color="light">
        <ion-label>username</ion-label>
        <input readonly type="text" #username name="username" clearInput [(ngModel)]="userProps.username"
        required="true">
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item color="light">
        <ion-label>phone</ion-label>
        <input  type="tel" #phone name="phone" clearInput [(ngModel)]="userProps.phone"
        >
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item color="light">
        <ion-label>role</ion-label>
        <input readonly type="text" #role name="role" clearInput [(ngModel)]="userProps.role"
        required="true">
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item color="light">
        <ion-label>bank</ion-label>
        <input  type="text" #bank name="bank" clearInput [(ngModel)]="userProps.bank"
        required="true">
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item color="light">
        <ion-label>account no</ion-label>
        <input  type="text"  name="bank_account_no" clearInput [(ngModel)]="userProps.bank_account_no"
        required="true">
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item color="light">
        <ion-label>account name</ion-label>
        <input  type="text"  name="bank_account_name" clearInput [(ngModel)]="userProps.bank_account_name"
        required="true">
      </ion-item>
    </ion-list>

    <div class="ion-text-center"   type="submit" >
      <ion-button color="warning" (click)=" confirmEdit()">SUBMIT</ion-button>

    </div>

  </form>



 
</ion-content>