<app-drop-down title="PROFILE"></app-drop-down>

<ion-content class="ion-padding">
  <div class="brand_color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Profile </h2>
                </div>
            </div>
        </div>
    </div>
</div>

  <div class="ion-text-center">
    <ion-chip  *ngIf="!userDetails?.bank || !userDetails?.bank_account_name || !userDetails?.bank_account_number"
   color="danger" mode="ios" >
    <ion-label>Your bank details need to be updated, click edit to update</ion-label>
  </ion-chip>
  </div>

  <ion-grid fixed >
                <!--  Show users -->
                <!-- <ion-col size-sm="0" size-md="2" size-lg="1">  -->
             <ion-row class="justify-content-center">
               <ion-col size-sm="12" size-md="10" size-lg="8">
                <ion-list >

                  <ng-container >
                    <ion-item color="light" >
                      <ion-avatar slot="start">
                        <img src="../../assets/user_icon.webp">
                      </ion-avatar>
                      <ion-label>

                        <p>{{userDetails?.fullname}} </p>
                      </ion-label>
                      <ion-button (click)="passwordAlert()"
                      color="danger">edit</ion-button>
                    </ion-item>

                    <ion-label>Email</ion-label>
                    <ion-item color="light" >
                        <ion-icon name="mail"></ion-icon>
                        <h6 slot="end" class="font-weight-bold">{{userDetails?.email}} </h6>
                    </ion-item>

                    <ion-label>Username</ion-label>
                    <ion-item color="light" >
                       <ion-icon name="person"></ion-icon>
                        <h6  slot="end" class="font-weight-bold"> {{userDetails?.username}} </h6>
                    </ion-item>

                    <ion-label>Phone</ion-label>
                    <ion-item color="light" >
                       <ion-icon name="call"></ion-icon>
                        <h6 slot="end" class="font-weight-bold"> {{userDetails?.phone}} </h6>
                    </ion-item>

                    <ion-label>Role</ion-label>
                    <ion-item color="light" >
                       <ion-icon name="key"></ion-icon>
                        <h6 slot="end" class="font-weight-bold"> {{userDetails?.role}} </h6>
                    </ion-item>

                    <ion-label>
                      id :
                    </ion-label>
                    <ion-item color="light" >
                       <ion-icon name="key"></ion-icon>
                        <h6 slot="end" class="font-weight-bold"> 000{{userDetails?.user_id}} </h6>
                    </ion-item>

                    <ion-label>Role:
                    </ion-label>
                    <ion-item color="light" >
                       <ion-icon name="key"></ion-icon>
                        <h6 slot="end" class="font-weight-bold"> {{userDetails?.role}} </h6>
                    </ion-item>

                    <ion-label> Bank : </ion-label>
                    <ion-item color="light" >
                       <ion-icon name="business"></ion-icon>
                        <h6 slot="end" class="font-weight-bold">{{userDetails?.bank}} </h6>
                    </ion-item>
                    <ion-label>Account no : </ion-label>
                    <ion-item color="light" >
                       <ion-icon name="card"></ion-icon>
                        <h6 slot="end" class="font-weight-bold">  {{userDetails?.bank_account_number}} </h6>
                    </ion-item>



                    <ion-label>account name :</ion-label>
                    <ion-item color="light" >
                       <ion-icon name="pencil"></ion-icon>
                        <h6 slot="end" class="font-weight-bold">  {{userDetails?.bank_account_name}} </h6>
                     
                    </ion-item>
                    
                  </ng-container>
                </ion-list>
               </ion-col>
             </ion-row>


  </ion-grid>


</ion-content>