
<app-navbar></app-navbar>
<app-drop-down *ngIf="auth.getRole() == 'USER' || auth.getRole() =='GUIDER'" title="DOWN LINE"></app-drop-down>
<app-admin-drop-town *ngIf="auth.getRole() == 'ADMIN'"></app-admin-drop-town>

<ion-segment scrollable color="danger" (ionChange)="segmentChanged($event)"  value="1st_gen">
  <ion-segment-button value="1st_gen">
    <ion-label>1st Generation</ion-label>
  </ion-segment-button>
  <ion-segment-button value="2nd_gen">
    <ion-label>2nd Generation</ion-label>
  </ion-segment-button>
  <ion-segment-button value="3rd_gen">
    <ion-label>3rd Generation</ion-label>
  </ion-segment-button>
  <ion-segment-button value="4th_gen">
    <ion-label>4th Generation</ion-label>
  </ion-segment-button>
</ion-segment>



<ion-content *ngIf="segment=='1st_gen'">

<h3 class="text-center">1st generation</h3>
    <div class="row mb-3">
      
        <div class="col-lg-9 col-md-8">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="thead-inverse">
                <tr>
                  <th>#</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Role</th>
                  <th>Investment</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody *ngFor="let item of genOne; index as i">
                <tr>
                  <td>{{ i + 1}} </td>
                  <td>{{item?.username}} </td>
                  <td>{{item?.email}} </td>
                  <td>{{item?.role}} </td>
                  <td>{{item?.total_count}} </td>
                  <td>{{item?.createdAt |date:'medium'}} </td>
                  
                </tr>
          
              </tbody>
            </table>
          </div>
        </div>
      </div>

 
</ion-content>

<ion-content *ngIf="segment=='2nd_gen'">

<h3 class="text-center">2nd generation</h3>
    <div class="row mb-3">
      
        <div class="col-lg-9 col-md-8">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="thead-inverse">
                <tr>
                  <th>#</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Investment</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody *ngFor="let item of genTwo; index as i">
                <tr>
                  <td>{{ i + 1}} </td>
                  <td>{{item?.username}} </td>
                  <td>{{item?.email}} </td>
                  <td>{{item?.total_count}} </td>
                  <td>{{item?.createdAt |date:'medium'}} </td>
                  
                </tr>
          
              </tbody>
            </table>
          </div>
        </div>
      </div>

 
</ion-content>

<ion-content *ngIf="segment=='3rd_gen'">

<h3 class="text-center">3rd generation</h3>
    <div class="row mb-3">
      
        <div class="col-lg-9 col-md-8">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="thead-inverse">
                <tr>
                  <th>#</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Investment</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody *ngFor="let item of genThree; index as i">
                <tr>
                  <td>{{ i + 1}} </td>
                  <td>{{item?.username}} </td>
                  <td>{{item?.email}} </td>
                  <td>{{item?.total_count}} </td>
                  <td>{{item?.createdAt |date:'medium'}} </td>
                  
                </tr>
          
              </tbody>
            </table>
          </div>
        </div>
      </div>

 
</ion-content>
<ion-content *ngIf="segment=='4th_gen'">

<h3 class="text-center">4th generation</h3>
    <div class="row mb-3">
      
        <div class="col-lg-9 col-md-8">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="thead-inverse">
                <tr>
                  <th>#</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Investment</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody *ngFor="let item of genFour; index as i">
                <tr>
                  <td>{{ i + 1}} </td>
                  <td>{{item?.username}} </td>
                  <td>{{item?.email}} </td>
                  <td>{{item?.total_count}} </td>
                  <td>{{item?.createdAt |date:'medium'}} </td>
                  
                </tr>
          
              </tbody>
            </table>
          </div>
        </div>
      </div>

 
</ion-content>