<app-drop-down title="TRANSACTIONS"></app-drop-down>
<ion-content>



    <div class="col-lg-9 col-md-8">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="thead-inverse">
            <tr>
              <th>#</th>
              <th>Amount</th>
              <th>Status</th>
              <th>Trans Id</th>
              <th>username</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of transList; index as i">
              <td>{{i + 1}} </td>
              <td>{{item.amount |currency:'₦'}} </td>
              <td *ngIf="item?.status =='waiting'" class="text-warning">{{item?.status}} </td>
              <td *ngIf="item?.status =='successful'" class="text-success">{{item?.status}} </td>
              <td>{{item?.transaction_id}} </td>
              <td>{{item?.name}} </td>
              <td>{{item?.date |date}} </td>
            </tr>
          
          </tbody>
        </table>
      </div>
    </div>
  
</ion-content>