


<ion-header>
  <ion-toolbar color="warning">
    <ion-item>
      <ion-icon (click)="closeModal()" slot="start" name="close"></ion-icon>
      <ion-label>After a successful transfer, upload your receipt</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>

 <ion-text class="text-center" color="primary">
  <h3>{{title}} </h3>
 </ion-text>

 <!-- <ion-list>
   <ion-list-header>
     <ion-label>New This Week</ion-label>
     <ion-button>See All</ion-button>
   </ion-list-header>
 </ion-list> -->

 <ion-list>
  <ion-item color="light"> 
    <ion-label>Amount</ion-label>
    <input type="number" name="amount" [(ngModel)]="model.amount" >
  </ion-item>
  <ion-item color="light"> 
    <ion-label>Email</ion-label>
    <input readonly type="text" name="email" [(ngModel)]="model.email" >
  </ion-item>
  <ion-item color="light"> 
    <ion-label>Username</ion-label>
    <input readonly type="text" name="username" [(ngModel)]="model.name" >
  </ion-item>
 </ion-list>

<div class="ion-text-center">
  <input #Image type="file"  accept="image/*" (change)="handleFileInput($event.target.files)"/>
</div>

<ion-card *ngIf="imageUrl" color="warning" class="p-2 text-center">
  <img width="70%"  [src]="imageUrl" class="image">
</ion-card>


<div class="ion-text-center">
  <ion-button *ngIf="imageUrl" (click)="uploadImage()"  color="dark">
    upload image
  </ion-button>


  <ion-button (click)="confirmTransaction()" expand="block" fill="solid" color="success" shape="round">
    Submit Transaction
  </ion-button>
</div>

</ion-content>
